# SPDX-License-Identifier: GPL-2.0-only
config HAVE_CLK
        default y
	bool

config CLKDEV_LOOKUP
        default y
	bool

config COMMON_CLK
	select HAVE_CLK
	default y
	bool

config COMMON_CLK_OF_PROVIDER
	bool
	default y
	depends on OFTREE
	help
	  Clock driver provides OF-Tree based clock lookup.

config CLK_SOCFPGA
	bool
	select COMMON_CLK_OF_PROVIDER
	default y if ARCH_SOCFPGA && OFDEVICE

source "drivers/clk/sifive/Kconfig"
